* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

:root {
  height: 100vh;
  width: 100vw;
}

.container {
  min-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  background-color: rgb(40, 40, 40);
  color: white;
  position: relative;
}

.box {
  min-width: 200px;
  min-height: 100px;
  background-color: rgb(72, 72, 72);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.box button{
  color: white;
  background-color: red;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all ease-in-out 0.1s;
}

.box button:active{
  background-color: rgb(248, 89, 89);
  scale: 0.9rem;
}

h3 {
  opacity: 0.8;
}

.box1 {
  height: 200px;
  width: 90%;
  padding: 1rem;
}

.box1 form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1 input{
  border: none;
  outline: none;
  background-color: rgb(72, 72, 72);
  color: white;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  font-weight: 600;
}

.box1 button{
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background-color: rgb(72, 72, 72);
  color: white;
  transition: all ease-in-out 0.1s;
}

.box1 button:active{
  scale: 0.93;
  background-color: yellowgreen;
}

.box2{
  height: 200px;
  width: 90%;
  padding: 1rem;
  background-color: red;
  /* display: none; */
}

.box2 form{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2 input{
  border: none;
  outline: none;
  background-color: rgb(72, 72, 72);
  color: white;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  font-weight: 600;
}

.box2 button{
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background-color: yellowgreen;
  color: white;
  transition: all ease-in-out 0.1s;
}

.box2 button:active{
  scale: 0.9;
}

.box .edit{
  background-color: green;
}